.input-container {
  display: flex;
  justify-content: center;
  width: 831px;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: black;
  padding-top: 55px;
  background: center;
}
.input-container .search {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  font-size: 22px;
  font-weight: bold;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  text-align: center;
}
.input-container input {
  width: 555px;
  height: 50px;
  border-radius: 10px;
  padding-top: 26px;
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
  padding-bottom: 23px;
}
.btn {
  width: 50px;
  border-radius: 10px;
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
  cursor: pointer;
}
